:root {
    --border-clr: 231 231 231;
    --border-template: 1px solid rgb(var(--border-clr));
    --gray-clr: 119 119 119;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}
img {
    width: 100%;
    object-fit: cover;
}

.container{
   width: 1220px;
   margin-inline: auto;
   padding-inline: 10px;

   @media (1200px > width) {
    width: 960px;
    padding-inline: 15px;
   }
}

.flex { display: flex; align-items: center; }
.flex-col { flex-direction: column; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }

.header_top {
    font-size: .75rem;
    padding-block: 8px;
    border-bottom: var(--border-template);
    color: rgb(var(--gray-clr));

    .links {
        flex-grow: 1;
        justify-content: flex-end;
        
        > ul {
            gap: 24px;
        }
    }

    .social_medias {
        .selects {
            margin-inline: 30px;
            position: relative;

            &::before, &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                width: 1px;
                background-color: rgb(var(--border-clr));
            }

            &::before { left: -15px; }
            &::after { right: -15px; }

            .lang {
                position: relative;

                > span {
                    display: inline-flex;
                    align-items: center;
                    column-gap: 4px;
                    cursor: pointer;

                    .chevron {
                        font-size: 8px;
                    }
                }

                > span:hover + .lang_menu {
                    display: block;
                    top: calc(100% + 4px);
                    opacity: 1;
                    visibility: visible;
                }

                .lang_menu {
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: max-content;
                    padding: 8px 6px;
                    background-color: white;
                    border: 1px solid rgb(var(--border-clr));
                    opacity: 0;
                    visibility: hidden;
                    transition: 250ms ease;

                    > span {
                        display: block;
                        cursor: pointer;
                    }
                }
            }
        }

        .icons {
            column-gap: 4px;

            li {
                a {
                    display: inline-flex;
                    align-items: center;
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    transition: 250ms ease;

                    i {
                        font-size: 13px;
                    }
                    
                    &:hover {
                        background-color: rgb(var(--icon-bg, --gray-clr) / 85%);
                        color: white;
                    }
                }
            }
        }
    }
}

header {
    .middle {
        padding-block: 27px;

        .middle_right {
            .search_area {

            }
        }
    }
}